body {
  background: var(--c-bg-color);
}

.c-bg-secondary {
  background-color: var(--c-bg-secondary);
}

.c-bg-secondary-light {
  background-color: var(--c-bg-secondary-light);
}

.c-btn-bg-warm {
  background: linear-gradient(45deg, var(--c-gradient-btn-bg-warm-start), var(--c-gradient-btn-bg-warm-end));
}

.c-btn-bg-cold {
  background: linear-gradient(45deg, var(--c-gradient-btn-bg-cold-start), var(--c-gradient-btn-bg-cold-end));
}

.c-card-bg {
  background: linear-gradient(45deg, var(--c-gradient-card-bg-start), var(--c-gradient-card-bg-end));
}

.c-card-bg-light {
  background: linear-gradient(45deg, var(--c-gradient-card-bg-light-start), var(--c-gradient-card-bg-light-end));
}

.pointer {
  cursor: pointer;
}

.c-bg-block {
  background-image: linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.4) 25%,
    transparent 25%,
    transparent 75%,
    rgba(0, 0, 0, 0.4) 75%
  ),
  linear-gradient(
    45deg,
    rgba(0, 0, 0, 0.4) 25%,
    transparent 25%,
    transparent 75%,
    rgba(0, 0, 0, 0.4) 75%
  );
  background-position: 0 0, 20px 20px;
  background-size: 40px 40px;
}

.image-loading-bg {
  background: #242424;
}

::-webkit-scrollbar {
  width: 8px;
}

/* Track */
::-webkit-scrollbar-track {
  background: transparent;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #2d2d2d;
  border-radius: 5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: #555;
}

.c-fs-loading {
  .el-loading-spinner {
    background-image: url('../assets/icon/logo/logo-dark.svg') !important;
    background-repeat: no-repeat;
    background-size: 250px 100px;
    height: 100px;
    width: 100%;
    background-position: center;
    top: 40%;
    left: 50%;
    animation: wave 1s infinite cubic-bezier(0.42, 0, 0.58, 1);
  }

  .el-loading-spinner .circular {
    display: none !important;
  }

  @keyframes wave {
    0% {
      transform: translateX(-50%) translateY(0);
    }
    50% {
      transform: translateX(-50%) translateY(20px);
    }
    100% {
      transform: translateX(-50%) translateY(0);
    }
  }
}
